@model IEnumerable<ServiceCenter.Domain.Viewmodel.OrderServiceV.OrderServiceListViewModel>

<div class="row justify-content-start">
    <div class="col-2">
      <h1 class="h3 mb-2 text-gray-800">Услуги</h1>
    </div>
    <div class="col-2">
      <p><a class="btn btn-success" asp-controller="OrderService" asp-action="CreateService">Добавить</a></p>
    </div>
  </div>

<div class="my-2"></div>

<div class="card shadow mb-4">
    <div class="card-body">
        @*<p>
            <a class="btn btn-success" asp-controller="OrderService" asp-action="CreateService">Добавить</a>
        </p>*@

<table class="table" id="minedatatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td width="15%" align="center">
                                <a asp-action="UpdateOrderService" asp-controller="OrderService" asp-route-id="@item.OrderService_ID"
                                   class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </span>
                                </a>
                                <a asp-action="DeleteService" asp-controller="OrderService" asp-route-id="@item.OrderService_ID"
                                   class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
            </td>
        </tr>
        }
        
}
    </tbody>
</table>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#minedatatable").DataTable({
                language: {
                    search: "Поиск",
                    lengthMenu: "Показать _MENU_ записей"
                }
            });
        })
    </script>
}